<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>89E2D4F2E8F081CA02CCBE6D2FB551A29ABA07EF</string>
				<key>dateExpires</key>
				<string>10/14/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89E2D4F2E8F081CA02CCBE6D2FB551A29ABA07EF</string>
						<key>dateExpires</key>
						<string>10/14/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7S7N7BN7YZ</string>
						<key>name</key>
						<string>Real Deal Sports Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89E2D4F2E8F081CA02CCBE6D2FB551A29ABA07EF</string>
						<key>dateExpires</key>
						<string>10/14/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7S7N7BN7YZ</string>
						<key>name</key>
						<string>Real Deal Sports Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89E2D4F2E8F081CA02CCBE6D2FB551A29ABA07EF</string>
						<key>dateExpires</key>
						<string>10/14/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7S7N7BN7YZ</string>
						<key>name</key>
						<string>Real Deal Sports Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>89E2D4F2E8F081CA02CCBE6D2FB551A29ABA07EF</string>
						<key>dateExpires</key>
						<string>10/14/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>7S7N7BN7YZ.com.realdealsports.wewager.OneSignalNotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>7S7N7BN7YZ</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.realdealsports.wewager.onesignal</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>019b0d12-f250-4537-a409-125c1c7f8274</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.realdealsports.wewager.OneSignalNotificationServiceExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7S7N7BN7YZ</string>
						<key>name</key>
						<string>Real Deal Sports Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7S7N7BN7YZ.com.realdealsports.wewager</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7S7N7BN7YZ</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.realdealsports.wewager.onesignal</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2ad213a7-d6a5-4666-a193-14655406e7fe</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.realdealsports.wewager</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7S7N7BN7YZ</string>
				<key>name</key>
				<string>Real Deal Sports Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
